@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Bungee+Inline&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Bungee+Inline&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Bungee+Inline&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Montserrat", cursive;
  font-weight: 400;
}

html {
  font-size: 62.5%; /*converting 1rem to 10px*/
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
/* End of common styles */
/* section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(50, 231, 255, 0.8);
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
}

.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(50, 231, 255, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 40%;
  animation: rotate 30s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(350deg);
  }
}

.navbar {
  position: relative;
  z-index: 20;
  top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
  width: 1.5rem;
  word-wrap: break-word;
  text-align: center;
  transition: all 0.5s;
}
.navbar-link:hover {
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 2.5s;
}

.section-1-heading {
  font-size: 8rem;
  font-family: "Monoton", cursive;
  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  color: #fff;
  background-color: #fff;
  width: 85rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0.9;
}
.btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
/* .logo p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
} */

/* .logo i {
  font-size: 8rem;
  color: rgba(50, 231, 255, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
} */

/* Responsive */

@media (max-width: 1400px) {
  .floating-bg {
    top: -120vw;
  }
  .section-1-heading {
    font-size: 6rem;
    top: 25vw;
    width: 70rem;
  }
  .navbar-link {
    font-size: 2rem;
  }
  .logo {
    top: 75%;
  }
  .logo i {
    font-size: 6rem;
  }
}
@media (max-width: 1150px) {
  .floating-bg {
    top: -110vw;
  }
  .section-1-heading {
    font-size: 5rem;
    top: 30vw;
    width: 60rem;
  }
  .logo i {
    font-size: 4rem;
  }
}
@media (max-width: 950px) {
  .floating-bg {
    position: -100vw;
  }
  .section-1-heading {
    top: 40vw;
  }
  .navbar {
    justify-content: space-around;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 50%;
  }
  .floating-bg {
    top: -90vw;
  }
  .section-1-heading {
    top: 48vw;
  }
}
@media (max-width: 550px) {
  html {
    /* font-size: 45%; */
  }
  .floating-bg {
    top: -70vw;
  }
  .section-1-heading {
    top: 65vw;
    width: 42rem;
    font-size: 4rem;
  }
}
/*End of section 1 */

.scroll-up-btn {
  width: 5rem;
  height: 5rem;
  background-color: rgba(50, 231, 255, 0.8);
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  border-radius: 50%;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

.scroll-up-btn:hover {
  background-color: #32e7ff;
}

.btn a {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  letter-spacing: 0.7rem;
  padding: 1.8rem 3rem;
  background: transparent;
  font-size: 2.8rem;
  color: #fff;
}

.btn-txt::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: -1%;
  top: -5px;
  background-color: rgba(60, 248, 226, 0.8);
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn-txt:hover::before {
  transform: skewX(0deg);
  left: 50%;
  top: 0;
}

.btn-txt::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 51%;
  top: 5px;
  background-color: #0a3d62;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-txt:hover::after {
  transform: skewX(0deg);
  left: 0%;
  top: 0;
}

/* section 2 */
.section-2,
.section-3,
.section-4 {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  margin: 0 auto;
}

.section-heading {
  font-size: 8rem;
  letter-spacing: 0.5rem;
  margin: 5rem 0;
  font-weight: 700;
  text-align: center;
}
.section-heading ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.section-heading ul li {
  color: #484848;
  animation: lighting 1.4s linear infinite;
}
.section-heading ul li:nth-child(1) {
  animation-delay: 0;
}
.section-heading ul li:nth-child(2) {
  animation-delay: 0.1s;
}
.section-heading ul li:nth-child(3) {
  animation-delay: 0.2s;
}
.section-heading ul li:nth-child(4) {
  animation-delay: 0.3s;
}
.section-heading ul li:nth-child(5) {
  animation-delay: 0.4s;
}
.section-heading ul li:nth-child(6) {
  animation-delay: 0.5s;
}
.section-heading ul li:nth-child(7) {
  animation-delay: 0.6s;
}
@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #32e7ffcc;
    text-shadow: 0 0 7px rgba(50, 231, 255, 0.8), 0 0 50px #fff;
  }
}

.about-wrapper {
  display: flex;
}

.about-wrapper .static-txt {
  font-size: 6rem;
  font-weight: 700;
  color: #484848;
}
.about-wrapper .dynamic-txts {
  margin-left: 1.5rem;
  line-height: 9rem;
  height: 9rem;
  /* background: #0a3d62; */
  overflow: hidden;
}
.about-wrapper .dynamic-txts li {
  color: #0a3d62;
  font-size: 5rem;
  font-weight: 700;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
.about-wrapper .dynamic-txts li span {
  font-family: "Montserrat";
  font-weight: 700;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.about-wrapper .dynamic-txts li::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-left: 2px solid #0a3d62;
  animation: typing 3s steps(10) infinite;
  background-color: #fff;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
}

.progress-bar-wrapper {
  margin-bottom: 10rem;
}
.progress-bar {
  width: 70rem;
  height: 3rem;
  margin: 1.5rem 0;
  background-color: rgba(50, 231, 255, 0.1);
  box-shadow: 0.2rem 0.2rem 1rem rgb(193, 190, 190);
  border-radius: 0.4rem;
  position: relative;
}

.progress-text {
  position: absolute;
  left: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}

.progress-text span {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.progress-percent {
  width: 0;
  height: 100%;
  background-color: rgba(50, 231, 255, 0.8);
  border-radius: 0.4rem;
  transition: width 0.5s 0.5s ease-in-out;
}

.download-icon {
  text-align: center;
}

.download-icon p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.download-icon i {
  font-size: 7rem;
  color: rgba(50, 231, 255, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
}

/* section 3 */

.project-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: auto;
}
.card {
  border-radius: 0.4rem;
  position: relative;
  width: 250px;
  height: 300px;
  background-color: black;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
}
.card:hover .content {
  height: 100%;
  width: 100%;
  left: 0%;
}
.content {
  position: absolute;
  bottom: 0px;
  width: 80%;
  height: 80px;
  background-color: rgba(50, 231, 255, 0.8);
  border-radius: 0.4rem;
  left: 10%;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;
}

.content h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 25px;
  color: #fff;
}

.content p {
  width: 80%;
  margin: 10px auto;
  font-size: 1.8rem;
  transition: 0.5s;
  opacity: 0;
}

.content a {
  background-color: black;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 10px;
  transition: 0.5s;
  opacity: 0;
}

.card:hover p,
.card:hover a {
  opacity: 1;
  transition-delay: 0.5s;
}

.imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.card:hover img {
  opacity: 0;
}

/* section 3 */

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-wrapper h3 {
  font-size: 3.5rem;
  padding: 10px;
  font-weight: 700;
}
.contact-wrapper p {
  font-size: 2rem;
  padding: 10px;
  font-weight: 400;
  color: #888;
}
.contact-form {
  width: 70rem;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 1.5rem;
  background-color: #f1f1f1;
  color: rgb(113, 103, 103);
  border: none;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.contact-form textarea {
  max-width: 100%;
  max-height: 15rem;
  min-height: 5.5rem;
}

.contact-form input[type="submit"] {
  background-color: #32e7ff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  font-weight: 700;
}

.contact-form input[type="submit"]:hover {
  background-color: #10d9f3;
}

/* section 4 */
.section-4 {
  height: 85vh;
}
/* footer */
footer {
  height: 15vh;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

footer p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #888;
}

.signature,
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signature span {
  color: red;
}
.social-icon {
  display: flex;
  text-align: center;
}
.icon {
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  color: #0a3d62;
  box-shadow: 0 5px 15px -5px #00000070;
  position: relative;
  overflow: hidden;
}
.icon i {
  line-height: 50px;
  font-size: 2rem;
  transition: all 0.2s;
}
.icon:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.icon::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: rgba(50, 231, 255, 0.8);
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}
.icon:hover::before {
  animation: animation 0.7s 1 forwards;
}
@keyframes animation {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 15%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}
